.header{
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    position: relative;
    nav{
        
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }
}

.user_avatar{
    height: 35px;
    width: 35px;
    background: $main_color;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 600;
    display: grid;
    place-items: center;
    color: #fff;
    cursor: pointer;
    position: relative;
}