.input{
    padding: 1rem 2.5rem;
    font-size: 1rem;
    background: $input_bg;
    border: none;
    box-shadow: $input_shadow;
    border: 2px solid rgba(0,0,0,0.07);
    border-radius: 5px;
}

::placeholder{
    color: $light_text;
}

::-moz-placeholder{
    color: $light_text;   
}
::-webkit-input-placeholder{
    color: $light_text;
}

  
  /* The slider itself */
  .slider {
    appearance: none;
    width: 100%; 
    height: 2px; 
    background: #0090E1; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 23px; 
    height: 23px; 
    background: #fff;
    border-radius:50%;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 23px; 
    height: 23px; 
    background: #fff;
    border-radius:50%;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    cursor: pointer; 
  }
