*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: Maven Pro;
    @include scrollbar;
}

body,html{
    height: 100%;
    overflow: hidden;
}

#root{
    min-height: 100%;
}

label{
    display: block;
}
button{
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

.form-header{
    font-size: 25px;
    color: $dark_text;
    margin-bottom: 3rem;
    text-align: center;
    span{
        font-size: 2rem;
    }
}


.password{
    position: relative;
    svg{
        color: $dark_text;
        font-size: 1.4rem;
        position: absolute;
        right: 10%;
        top: 50%;
        transform:translate(-10%, -50%)
        
    }
}

.error{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: red;
}


.btn_preview{
    padding: .5rem;
}

.active_tab{
    color: #333 !important;
}