.toolbar-container .tools .text-decoration, .toolbar-container .tools .text-transform, .toolbar-container .tools .text-align, .toolbar-container .tools .letter-spacing .inputs, .toolbar-container .tools .word-spacing .inputs, .toolbar-container .tools .line-height .inputs, .toolbar-container .tools .letter-spacing, .toolbar-container .tools .word-spacing, .toolbar-container .tools .line-height, .toolbar-container .tools .font-weight, .toolbar-container .tools .texts .font-family, .toolbar-container .toolbar-header, .error-page .content .redirect, .unique_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: Maven Pro;
  /* width */
  /* Track */
}
* ::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}
* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px yellow;
  border-radius: 10px;
  display: none;
}

body, html {
  height: 100%;
  overflow: hidden;
}

#root {
  min-height: 100%;
}

label {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.form-header {
  font-size: 25px;
  color: #333;
  margin-bottom: 3rem;
  text-align: center;
}
.form-header span {
  font-size: 2rem;
}

.password {
  position: relative;
}
.password svg {
  color: #333;
  font-size: 1.4rem;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-10%, -50%);
}

.error {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: red;
}

.btn_preview {
  padding: 0.5rem;
}

.active_tab {
  color: #333 !important;
}

.form-container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1fr);
}
.form-container .input-wrapper {
  height: 100%;
  display: grid;
  place-items: center;
}
.form-container .input-wrapper form {
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}
.form-container .input-wrapper form > div {
  margin: 2rem 0;
  width: 100%;
}
.form-container .input-wrapper form > div input, .form-container .input-wrapper form > div button {
  width: 100%;
}
.form-container .right-img__wrapper {
  position: relative;
  display: grid;
  place-items: center;
  box-shadow: 10px 0 30px #00000012;
}
.form-container .right-img__wrapper .img_bg {
  text-align: center;
}
.form-container .right-img__wrapper .img_bg img {
  width: 100%;
}
.form-container .right-img__wrapper .img_bg p {
  margin-top: 2rem;
}
.form-container .right-img__wrapper .corner-blue {
  position: absolute;
  width: 180px;
  height: 170px;
  background: #5352ED;
  top: 0;
  right: 0;
  border-bottom-right-radius: 150px;
}
.form-container .right-img__wrapper .bottom-circles {
  position: absolute;
  bottom: 0;
  right: 0;
}
.form-container .right-img__wrapper .circles {
  display: flex;
  gap: 0.5rem;
}
.form-container .right-img__wrapper .circles .circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.form-container .right-img__wrapper .circles .light-yellow {
  background: rgba(255, 205, 77, 0.63);
}
.form-container .right-img__wrapper .circles .deep-yellow {
  background: yellow;
}

@media only screen and (max-width: 768px) {
  .form-container {
    display: block;
  }
  .form-container .glass_bg {
    display: none;
  }
}
@media only screen and (max-width: 520px) {
  .form-container {
    display: block;
  }
  .form-container .input-wrapper form {
    width: 98%;
    margin: 0 auto;
  }
}
.editor_page {
  min-height: 100vh;
}
.editor_page .editor-wrapper {
  display: grid;
  grid-template-columns: 1fr 250px;
}
.editor_page .editor-wrapper .editor-container {
  min-height: 100vh;
}
.editor_page .editor-wrapper .editor-container .editor {
  min-height: 100vh;
}

.unique_input .site-name {
  user-select: none;
  height: 100%;
  padding: 1rem;
  background: #cccccc1c;
  font-weight: bold;
  color: #a9a9a9;
}

.error-page {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.error-page .content .small-text {
  font-size: 3rem;
  color: #333;
  font-weight: bold;
}
.error-page .content .big-text {
  font-size: 15rem;
  font-weight: bolder;
  letter-spacing: 10px;
}
.error-page .content .big-text span {
  display: inline-block;
  transform: rotate(30deg);
  color: red;
}
.error-page .content .redirect {
  justify-content: center;
}
.error-page .content .redirect a {
  color: #333;
  font-size: 1.2rem;
}

.btn {
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 1rem 0;
  font-size: 14px;
  font-weight: 600;
}
.btn:focus-within {
  outline: none;
}

.btn_small {
  padding: 1rem 2.5rem;
}

.blue {
  background: #5352ED;
  color: #fff;
}

.btn_shadow {
  box-shadow: 0 0 15px 1px rgba(15, 14, 255, 0.14);
}

.input {
  padding: 1rem 2.5rem;
  font-size: 1rem;
  background: rgba(237, 240, 249, 0.25);
  border: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.02);
  border: 2px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  display: block;
  width: 100%;
}

.input_small {
  padding: 0.5rem;
  background: #f3f3f3;
  border: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  display: block;
  width: 100%;
}

::placeholder {
  color: #A3A1A1;
}

::-moz-placeholder {
  color: #A3A1A1;
}

::-webkit-input-placeholder {
  color: #A3A1A1;
}

/* The slider itself */
.slider {
  appearance: none;
  width: 100%;
  height: 2px;
  background: #0090E1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 23px;
  height: 23px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 23px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tooltip {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  padding: 0.8rem;
  width: 120px;
  border-radius: 5px;
}
.tooltip .triangle {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  height: 75px;
  margin-bottom: auto;
}
.header nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.user_avatar {
  height: 35px;
  width: 35px;
  background: #5352ED;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 600;
  display: grid;
  place-items: center;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.toolbar-container {
  position: fixed;
  right: 0;
  height: 100%;
  width: 250px;
  box-shadow: 0 0 10px rgba(182, 198, 255, 0.25);
  padding-bottom: 5rem;
  overflow-y: scroll;
}
.toolbar-container .toolbar-header {
  font-size: 12px;
  font-weight: 600;
  padding: 1rem;
}
.toolbar-container .toolbar-header span {
  display: block;
  color: #A3A1A1;
  cursor: pointer;
}
.toolbar-container .tools {
  padding: 2rem;
  border: 1px solid red;
  overflow: hidden;
  margin: 0 auto;
}
.toolbar-container .tools .colors input[type=color] {
  margin: 1rem 0;
}
.toolbar-container .tools .colors .head, .toolbar-container .tools .texts .head {
  font-size: 15px;
  font-weight: 600;
  color: #474747;
}
.toolbar-container .tools .texts > div {
  font-size: 13px;
  font-weight: bold;
}
.toolbar-container .tools .texts .font-family p:nth-child(1) {
  flex: 1;
}
.toolbar-container .tools .texts .font-family #font-picker {
  width: auto;
  box-shadow: none;
}
.toolbar-container .tools .texts .font-family #font-picker .dropdown-button {
  background: none;
  padding: 0;
}
.toolbar-container .tools .font-weight select {
  appearance: none;
  border: none;
}
.toolbar-container .tools .letter-spacing, .toolbar-container .tools .word-spacing, .toolbar-container .tools .line-height {
  margin: 0;
}
.toolbar-container .tools .letter-spacing .inputs input, .toolbar-container .tools .word-spacing .inputs input, .toolbar-container .tools .line-height .inputs input {
  margin-top: 0;
  margin-right: 0.5rem;
  margin-left: 1rem;
}
.toolbar-container .tools .letter-spacing .inputs button, .toolbar-container .tools .word-spacing .inputs button, .toolbar-container .tools .line-height .inputs button {
  padding: 0.5rem;
  margin-left: 0.5rem;
  text-align: center;
  display: grid;
  place-content: center;
}
.toolbar-container .tools .letter-spacing .inputs button:hover, .toolbar-container .tools .word-spacing .inputs button:hover, .toolbar-container .tools .line-height .inputs button:hover {
  background: #b3b3b3;
}
.toolbar-container .tools .text-align p {
  flex: 1;
}
.toolbar-container .tools .text-align input {
  margin-left: 1rem;
}
.toolbar-container .tools .text-transform {
  margin: 1rem 0 !important;
}
.toolbar-container .tools .text-transform select {
  appearance: none;
  border: none;
  padding: 0.5rem;
}
.toolbar-container .tools .text-decoration input {
  display: none;
}
.toolbar-container .tools .text-decoration label {
  display: block;
  padding: 0.5rem;
  background: #000;
  width: 50px;
  margin: 0 0.5rem;
}

.social-toolbar {
  width: 100%;
  padding: 1rem;
}
.social-toolbar .social {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.social-toolbar .social .input-with__label {
  width: 100%;
  margin: 1rem 0;
}
.social-toolbar .social .input-with__label label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #5a5a5a;
  margin: 0.5rem 0;
}

/*# sourceMappingURL=style.css.map */
