* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.template-one-main {
    display: grid;
    grid-template-columns: 1fr 200px;
}

.template-one-bg{
    background: url('/src/assets/img/template1.png');
}

.template-one-content {
    height: 100vh;
    margin: 0 auto;
    padding-top: 120px;
}

.image{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: darkslategray;
    border: darkturquoise 10px solid;
    border-radius: 150px;
}

img{
    width: 100%;
    height: auto;
    margin: auto;
}

.name{
    margin: 0 auto;
}

.name p{
    font-size: clamp(1.5rem, 3vh, 3rem);
    text-align: center;
    margin: 1rem 0;
}

.text p{
    max-width: 30%;
    margin: auto;   
}

.template-one-button {
    text-align: center;
    margin: auto;
    padding: 2rem 0;
}

button{
    background-color: black;
    padding: 0.8rem 2.5rem;
    color: wheat;
    font-size: 1.5rem;
    border: none;
}

.template-one-sideNav {
    padding-top: 150px;
}

.template-one-menu {
    margin: auto;
    text-align: center;
}

.sideNavLink{
    padding: 2.5rem 0;
}
.sideNavLink a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
}

.template-one-social{
    margin: 0 auto;
}

.social-div{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0 0.5rem 5rem;
}

.social{
    padding-right: 1rem;
    font-size: 2rem;
}

.social a{
    text-decoration: none;
    color: black;
}