.alert_container{
    min-height: 100vh;
    width: 100%;
    background-color: #4228E4;
    display: grid;
    place-items: center;
    color: rgb(238, 238, 238);
    text-align: center;
    .top-left__layer{
        position: fixed;
        top: -50px;
        left: -100px;
        width: 300px;
        img{
            width: 100%;
        }
    }
    .bottom-right__layer{
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 300px;
        img{
            width: 100%;
        }
    }
    .bottom-left__layer{
        position: fixed;
        bottom: 20px;
        left: 50px;
        width: 50px;
        img{
            width: 100%;
        }
    }
    .circles{
        position: fixed;
       top: 0;
       right: 0;
        width: 150px;
        img{
            width: 100%;
        }
    }

    .form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 1040px;
        padding: 4rem 2rem;

.logo{
    span{
        color:#0A0B2E;
    }
}
        .big_text{
            margin: 1.5em auto;
            h1{
                line-height: 1.5;
            }
        }
        .small_text{
            margin-bottom: 1.5rem;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 400px;
            margin: 0 auto;
            input{
                padding: 1.2rem;
                font-size: 1rem;
                flex: 1;
                border: none;
                border-radius: 5px;
            }
            button{
                margin-left: 1rem;
                padding: 1.2rem;font-size: 1rem;
                background: #725DFA;
                outline: none;
                border: none;
                color: #fff;
                font-weight: 500;
                border-radius:5px ;
            }
        }
        .curved{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50px;
            img{
                width: 100%;
            }
        }
        .circle{
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
                img{
                    width: 100%;
                }
            
        }
    }
    .date{
        position: absolute;
        bottom: 20px;
        left: 50%;
        font-size: 1.2rem;
    }
}
