.early-access{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    background: #4228E4;
    .bottom,.top,.right,.rounded{
        position: fixed;
        img{
            width:100%;
        }
    }
    .bottom{
        bottom: -20%;
        right: -4%;
        width:400px;
        height:400px;
        
    }
.top{
    width: 180px;
    height: 180px;
}
.right{
        width: 200px;
        height: 200px;
        top: 0;
        right: 0;
    }
.rounded{
    bottom: 10px;
    left: 10px;
}
    .content{
        margin-top: -2rem;
        max-width: 600px;
        text-align: center;
        position: relative;
        padding: 1rem;
        .curve{
            position: absolute;
            width: 50px;
            height: 50px;
            bottom: -20px;
            left: -50px;
            img{
                width: 100%;
            }
        }
        .circle{
            position: absolute;
            width: 50px;
            height: 50px;
            right: 0;
            img{
                width: 100%;
            }
        }
        .early-logo{
            font-size: 2rem;
            color: #fff;
            font-size: bolder;
        }
    .intro-text{
        padding: 1rem 0;
        &__big, &__small{
            padding: 1rem 0;
            color: #f0f0f0;
        }
        
    }
    .early-form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        input,button{
            display: block;
            font-size: 1rem;
        }
        input{
            padding: 1rem 4rem;
            border-radius: 5px;border: none;
        }
        button{
            padding: 1rem 2rem;
            background: #725DFA;
            color: #f0f0f0;
        }
    }
    }
}



@media (max-width: 767px){
    body{
        background:  #333 !important;
    }
}