.tooltip{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    padding: .8rem;
    width: 120px;
    border-radius: 5px;
   .triangle{
       height: 12px;
       width: 12px;
       position: absolute;
       top: 0;
       left: 50%;
       transform:translate(-50%,-50%) rotate(45deg);
   }
}

