.toolbar-container{
    position: fixed;
    right: 0;
    height: 100%;
    width:250px;
    box-shadow: 0 0 10px rgba(182,198, 255, 0.25);
    padding-bottom: 5rem;
    overflow-y: scroll;
    .toolbar-header{
        font-size: 12px;
        font-weight: 600;
        @extend %flex-sb;
        padding: 1rem;
        span{
            display: block;
            color: $light_text;
            cursor: pointer;
        }
    }

    .tools{
        padding:2rem;
        border: 1px solid red;
        overflow:hidden;
        margin: 0 auto;
        
        .colors{
            input[type="color"]{
                margin: 1rem 0;
            }
        }
       .colors,.texts{
         .head{
            font-size: 15px;
            font-weight: 600;
            color: #474747;
         }
       }

       .texts{
        & > div {
            font-size: 13px;
            font-weight: bold;
        }
        .font-family{
          @extend %flex-sb;
            p{
               &:nth-child(1){
                   flex: 1;
               }
            }
            #font-picker{
                width: auto;
                box-shadow:none;
                .dropdown-button{
                    background: none;
                    padding: 0;
                }
            }
        }
       }

       .font-weight{
          @extend %flex-sb;
          select{
              appearance: none;
              border: none;
          }
       }
       .letter-spacing, .word-spacing,.line-height{
           @extend %flex-sb;
           margin:0;
           .inputs{
               @extend %flex-sb;
               input{
                   margin-top: 0;
                margin-right: .5rem;
                margin-left: 1rem;
               }
               button{
                   padding: .5rem;
                  margin-left: .5rem;
                  text-align: center;
                display: grid;
                place-content: center;
                &:hover{
                    background: #b3b3b3;
                }
               }
           }
          
       }
       .text-align{
           @extend %flex-sb;
           p{
               flex: 1;
           }
           input{
             margin-left: 1rem;
           }
       }
       .text-transform{
           @extend %flex-sb;
           margin: 1rem 0 !important;
           select{
               appearance: none;
               border: none;
               padding: .5rem;
           }
       }
       .text-decoration{
           @extend %flex-sb;
           input{
               display: none;
           }
           label{
               display: block;
               padding: .5rem;
               background: #000;
               width: 50px;
               margin:0 .5rem;
           }
       }

    }
}


