*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: Maven Pro;
}

body,html{
    height: 100%;
}

#root{
    min-height: 100%;
}

label{
    display: block;
}

.container{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

.form-header{
    font-size: 25px;
    color: $dark_text;
    margin-bottom: 3rem;
}