.form-container{
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 1fr);
    .input-wrapper{
        height: 100%;
        display: grid;
        place-items: center;
        form{
            max-width: 500px;
            padding: 2rem;
       & > div{
            margin: 2rem 0;
            width: 100%;
            input, button{
                width: 100%;
            }
        }
        }
    }
    .right-img__wrapper{
        position: relative;
        display: grid;
        place-items: center;
        box-shadow: 10px 0 30px #00000012;
        .img_bg{
            img{
                width: 100%;
            }
            text-align: center;
            p{
                margin-top: 2rem;
            }
        }
        .corner-blue{
            position: absolute;
            width: 180px;
            height: 170px;
            background: $main_color;
            top: 0;
            right: 0;
            border-bottom-right-radius: 150px;
        }
        .bottom-circles{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .circles{
            display: flex;
            gap: .5rem;
            .circle{
                height: 120px;
                width: 120px;
                border-radius: 50%;
            }
            .light-yellow{
                background: rgba(255, 205, 77, 0.63);
            }
            .deep-yellow{
                background: yellow;
            }
        }
    }
}



@media only screen and (max-width:768px){
    .form-container{
        display: block;
        .glass_bg{
           display: none;
        }
    }
}
@media only screen and (max-width:520px){
    .form-container{
        display: block;
        .input-wrapper{
            form{
                width: 98%;
                margin: 0 auto;
            }
        }
    }
}